<div ng-controller="OutlineCtrl" class="table-responsive col-sm-6">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th class="centered">#</th>
                <th class="centered">عنوان المحاضرة</th>
                <th class="centered">تاريخ المحاضرة (متوقع)</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="lecture in lectures">
                <td>
                    <span ng-if="isNext(lecture)" class="status next">
                        <i class="fa fa-bookmark fa-lg"></i>
                    </span>

                    <div ng-bind-html="lecture.done | status"></div>
                </td>
                <td class="centered">{{lecture.id}}</td>
                <td><a class="strong" href ng-href="#/lecture/{{lecture.id}}">{{lecture.title}}</a></td>
                <td class="centered">{{lecture.date| date:'yyyy-MM-dd'}}</td>
            </tr>
        </tbody>
    </table>
</div>